$width-wide-breakpoint: $desktop !default;
$width-fullwidth-breakpoint: 0 !default;
$has-width-wide-margin-left: -3rem !default;
$has-width-wide-margin-right: -3rem !default;

.has-width-full {
  // temporary fix, because when scrollbar is present, then
  // it;s not calculated to the vw value
  padding-left: .5em;
  padding-right: .5em;

  @include from($width-fullwidth-breakpoint) {
    min-width: 100vw;
    max-width: 100vw;
    // https://css-tricks.com/full-width-containers-limited-width-parents/
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

.has-width-wide {
  @include from($width-wide-breakpoint) {
    max-width: 100vw;
    width: auto;
    margin-left: $has-width-wide-margin-left;
    margin-right: $has-width-wide-margin-right;
  }
}

