/** Extended Bulma Variables **/
$spacer: 1rem !default;
$spacer-x: 1rem !default;
$spacer-y: 1rem !default;

$main-spacer-x: $spacer-x !default;
$main-spacer-y: $spacer-y !default;

$main-breakpoint: $tablet !default;

$main-container-padding-top: $spacer-y !default;
$main-container-padding-bottom: $spacer-y !default;

$main-sidebar-left-width: 300px;
$main-sidebar-right-width: 300px;
